<div class="container">
  <div>
    <form action="/postear" method="POST" enctype="multipart/form-data">
      <div>
        <button type="submit">Publicar desde base de datos</button>
      </div>
    </form>
  </div>
  <div>
    <a type="button" href="/form" class="btn btn-primary mt-4">Publicar individual</a>
  </div>
  
</div>