<div class="container">
  <div class="items-list">
    {{#if items}}
      {{#each items}}
        <a target="_blank" rel="noopener noreferrer nofollow" href="{{this.permalink}}">
          <div>
            <img src="{{item.secure_thumbnail}}" />
            <h3>{{ this.title }}</h3>
          </div>
        </a>
      {{/each}}
    {{else}}
      <h1>No hay items :(</h1>
    {{/if}}
  </div>
</div>
