<div class="container">
    <div>
        <form action="/saveSettings" method="post">
            <div>
                <label for="commission">Comisión: </label>
                <input type="text" name="commission" id="commission" value="{{value.value}}">
            </div>
            <div>
                <button type="submit">Save</button> 
            </div>
        </form>
    </div>
</div>